$menuBG: #6abcca;

body {
  #main-menu {
    background-color: $menuBG;
    color: white;

    .neko {
      width: 70px;
      height: 100px;
      background: url(/assets/images/neko.png) no-repeat;
    }
  }
}
